<div class="container margin-auto p-t-40 p-b-40 grid equal-columns__2  md-text">
  <div>
    <div class="logo">
      {{#link-to "post"}} <img src="/images/hubkbs.png" alt="" class="img-200"> {{/link-to}}
      <Hamburger />
    </div>
  </div>
  <div class="menu text-right" id="menu-options">
    <ul>
      <li>
        <a href="https://www.hubkbs.com">Home</a>
      </li>
      <li>
        <a href="#">Blogs</a>
      </li>
      <li>
        {{#if session.isAuthenticated }}
          <div class="ui top left pointing dropdown teal circular icon button">
            {{currentUser.user.initials}}
            <i class="teal circular label"></i>
            <div class="menu" style="left: 0;">
              <div class="header">{{currentUser.user.firstname}} {{currentUser.user.lastname}} </div>
                {{#if currentUser.user.isAdmin}}
                  <div class="item">
                    {{#link-to "dashboard"}}Dashboard{{/link-to}}
                  </div>
                {{/if}}
              <div class="item">
                {{#link-to "post.new" class=""}}New Post{{/link-to}}
              </div>
              <div class="item">
                {{#if session.isAuthenticated }} 
                  <a {{action "invalidateSession" }} role="button">Logout</a>
                {{else}}
                  {{#link-to "login" }}Login{{/link-to}}
                {{/if}}
              </div>
            </div>
          </div>
        {{else}}
          {{#link-to "login" }}Sign in{{/link-to}}
          {{#link-to "signup" class="m-l-10 ui rounded button primary teal"}}Get Started{{/link-to}}
        {{/if}}
      </li>
    </ul>
  </div>
</div>
