<div class="post-caption">
  {{!-- <a href="posts/{{post.id }}/{{post.slug}}" class="post-img p-all-30">
    <img src={{post.image}} alt="" class="rounded img-fit">
    <h2 class="brighten"> {{post.title}} </h2>
  </a> --}}
  {{#link-to "post.show" post.id post.slug class="post-img p-all-30" }}
      <img src={{post.image}} alt="" class="rounded img-fit">
      <h2 class="brighten"> {{post.title}} </h2>
  {{/link-to}}
  <div class="caption brighten m-t-15 m-b-15">
    By: {{post.author.fullname}}
  </div>
  <div class="post-content md-wrapper brighten">
    <p>
      {{{ post.postCaption }}}
    </p>
  </div>
</div>
