<div class="comment-card faint-outline m-b-20">
  <div class="container-very-small__lefts">
    <div class="grid columns-2__14 grid-center">
      <div class="img-holder"> {{ svg-jar "user" class="img-xxl" }} </div> 
      <div class="light-caption">
        <div> {{comment.user.firstname}} {{comment.user.lastname}} </div>
        <div>{{moment-format comment.createdAt  "ddd, MMM d"}} </div>
      </div>
    </div>
  </div>
  <div>
    <p> {{comment.text}} </p>
    <div> {{svg-jar "like" style="height: 20px;" }}0</div>
  </div>
</div>
