<table class="ui celled table">
  <thead>
    <tr>
      {{#each columns as |column| }}
        <th> {{column.name}} </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rows as |data| }}
      <tr class="">
        <td> <div class="action" onclick={{action "tableAction" data}}> {{svg-jar "dustbin" width="15px" height="15px"}} </div></td>
        <td> {{data.title}} </td>
        <td>{{data.postCaption}}</td>
        <td> {{data.author.firstname}} </td>
        <td>{{moment-from-now data.createdAt}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>
