<table class="ui celled table">
    <thead>
      <tr>
        {{#each rows as |row| }}
          <th> {{row}} </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each tableContent as |content| }}
          <tr class="">
              <td>[ ]</td>
              <td> {{content.title}} </td>
              <td>{{content.postCaption}}</td>
              <td> {{content.author.firstname}} </td>
              <td>{{moment-from-now content.createdAt}} </td>
          </tr>
      {{/each}}
    </tbody>
</table>