<Layout @classes="container-very-small margin-auto"> 
  <div class="col-70 title p-t-60">
    <h2 class="text-center"> {{ model.title }} </h2>
  </div>
  <div class="bdr-btn p-t-40"></div>
  <div class="caption text-center p-t-60 p-b-60">
    <div>by Thomas Birch</div>
    <div class="light-caption">24th July, 2091</div>
  </div>
  <div class="blog-image p-b-60">
    <img src=" {{model.image}} " alt="" class="img-fit">
  </div>
  <div class="blog-content p-b-60">
    <p> {{{model.body}}}</p>
  </div>
  <Comments @post={{model}}
    @newComment={{newComment}}
    @canShowComment={{canShowComment}} 
    @canWriteComment={{canWriteComment}}
    @toggleComments={{action "toggleComments"}}
    @showCommentText={{action "showCommentText"}}
    @didAddComment={{action "didAddComment"}} 
  />
  <Actions::Like
    @post={{model}}
    @didLikePost={{ action "likePost" model }}
  />
</Layout>

