{{!-- {{yield}} --}}
<div class="action-group slide-in_left">
     <div class="blog-actions">
        <div class="inline" role="button" {{action 'likePost'}} > 
            {{svg-jar "like"  style="width: 20px;" }}
            <span class="m-t-10">11</span>
        </div>
        <div role="button" {{action 'likePost'}} >{{svg-jar "speech-bubble" style="width: 20px;"}}</div>
    </div>
</div>