<div class="post-content m-b-20">
  {{#link-to "post.show" post.id class="post-heading grid columns-12__4 grid-center p-t-10"}}
    <div class="">
      <h3 class=" brighten">{{post.title}} </h3>
    </div>
    <div class="">
      <img src={{post.image}} alt="" class="rounded img-fit">
    </div>
  {{/link-to}}
		<div class="small-caption brighten grid columns-2__14 grid-center">
      <div>
        {{svg-jar "user" class="img-xxl"}}
      </div>
      <div>
        <span>By: {{post.author.firstname}} {{post.author.lastname}}</span>
        	<div class="brighten">
				    {{moment-format post.createdAt  "ddd, MMM d ha"}}
	      	</div>
      </div>
		</div>
		<p class="brighten">
			{{{post.postCaption}}}
		</p>
</div>
<div class="bdr-btn m-b-20 "></div>